body {
    background-color: #fafafa; /* 背景色 */
    color: #444; /* テキストカラー */
    font-family: 'Poppins', sans-serif; /* フォント */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}
header {
    background-color: #0066cc; 
    color: #fff; 
    padding: 1.5em;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

header h1:first-child { /* "Koshiro's Portfolio" に対するスタイル */
    font-family: 'Merriweather', serif;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    color: #ffd700; 
}
h1, h2, h3 {
    color: #0066cc;
    margin: 0.5em 0;
}
a {
    color: #e63946;
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover {
    text-decoration: underline;
    color: #d62828;
}
section {
    margin-bottom: 2em;
    padding: 1em;
    background: #f1f1f1;
    border-radius: 8px;
    position: relative;
}
.project {
    margin-bottom: 2em;
    padding: 1em;
    background: #e3f2fd; 
    border-radius: 8px;
}
.screenshot {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
ul {
    padding-left: 20px;
}
li {
    margin-bottom: 0.5em;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
